<%-include('../layout/header.ejs')%>
</head>
</body>
<%-include('../layout/hospital-nav.ejs')%>
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Departments</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="/hospital/add-department" class="btn btn btn-primary btn-rounded float-right"><i
                        class="fa fa-plus"></i> Add Department</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Department Name</th>
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%=departments.length%>
                            <%for(let i=0;i<departments.length;i++){%>
                            <tr>
                                <td><%=departments[i].name%></td>
                                <td><span class="custom-badge <%=departments[i].status?'status-green':'status-red' %>"> 
                                <%=departments[i].status?'Active':'Inactive'%> </span></td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="edit-appointment.html"><i
                                                    class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal"><i class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include('../layout/tail.ejs')%>